## This script contains:

### Import the pandas, NumPy, and os libraries
### Import data sets
### Consistency Checks on 'order_products_prior' Dataframe
##### Checking accurancy
##### Finding and addressing mixed data types
##### Finding and addressing missing values
##### Finding and addressing duplicate records
### Consistency Checks on 'prods' Dataframe
##### Checking accurancy
##### Finding and addressing mixed data types
##### Finding and addressing missing values
##### Finding and addressing duplicate records
##### Adressing data type
### Consistency Checks on 'ords' Dataframe
##### Checking accurancy
##### Finding and addressing mixed data types
##### Finding and addressing missing values
##### Finding and addressing duplicate records
### Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder and give them appropriate, succinct names

### Import the pandas, NumPy, and os libraries

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

### Import data sets

In [3]:
# Import data sets using the path as string

path = r'C:\Users\loren\Desktop\Career Foundry\2. Data Immersion Course\A4 Python Fundamentals for Data Analysts\07-2023 Instacart Basket Analysis'

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)
df_opp = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [32]:
# To fix 'df_ords' issue

df_ords.drop('Unnamed: 0', axis=1, inplace=True)

In [45]:
# Counting rows to fill on my final report

df_opp.shape

(32434489, 4)

# Consistency Checks on 'order_products_prior' Dataframe

### Checking accurancy

In [34]:
# Getting some descriptive statistics for the numeric values

df_opp.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

### Finding and addressing mixed data types

In [38]:
# Checking for variables with mixed data types

for col in df_opp.columns.tolist():
  weird = (df_opp[[col]].applymap(type) != df_opp[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_opp[weird]) > 0:
   print (col)

# No mixed data types found

### Finding and addressing missing values

In [41]:
# Checking how many NaN values in each variable

df_opp.isnull().sum()

# There are no missing values

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

### Finding and addressing duplicate records

In [43]:
# Looking for duplicates

df_prods_clean[df_prods_clean.duplicated()]

# No dups found

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, prices]
Index: []

# Consistency Checks on 'prods' Dataframe

### Checking accuracy

In [29]:
# Getting some descriptive statistics for the numeric values

df_prods.describe()

# Value 99999.000000 as max on 'prices' must be an anomaly

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

### Finding and addressing mixed data types

In [6]:
# Checking for variables with mixed data types

for col in df_prods.columns.tolist():
  weird = (df_prods[[col]].applymap(type) != df_prods[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_prods[weird]) > 0:
   print (col)

# Variable 'product_name' is mixed. Data type will be addressed when I handle the missing values

product_name

### Finding and addressing missing values

In [7]:
# Checking how many NaN values in each variable

df_prods.isnull().sum()

# There are 16 missing values on 'product_name' variable

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [8]:
# Ways to handle missing values:

# 1.Create a new variable that acts like a flag based on the missing value
# Use 'df['column_name'] = df.isna().astype(int/str/...)'

# 2.Impute the value with the mean or median
# Use 'df['column with missings'].fillna(mean/median value, inplace=True)'
# If use False instead of True, the original df will keep untouched

# 3.Remove or filter out the missing data
# Use: df_prods_clean = df_prods[df_prods['column_name'].isnull() == False]
# I could overwrite the df instead of create a subset

In [9]:
# I created a subset with the missing values filtered

df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [10]:
# Checking if missing values were filtered out

df_prods_clean.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

### Finding and addressing duplicate records

In [11]:
# Looking for duplicates

df_prods_clean[df_prods_clean.duplicated()]

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [12]:
# Dropping the duplicates

df_prods_clean = df_prods_clean.drop_duplicates()

In [13]:
# Counting rows to fill on my final report

df_prods_clean.shape

(49672, 5)

### Adressing data type

In [39]:
# Checking for mixed data types

for col in df_prods_clean.columns.tolist():
  weird = (df_prods_clean[[col]].applymap(type) != df_prods_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_prods_clean[weird]) > 0:
   print (col)

# No mixed data types found. Allright now!

# Consistency Checks on 'ords' Dataframe

### Checking accuracy

In [15]:
# Getting some descriptive statistics for the numeric values

df_ords.describe()

# 'days_since_prior_order' count = 3.214874e+06 while the others has 3.421083e+06 means there are 2.06209e+05 values missing
# 'days_since_prior_order' min = 0 means some orders were made within 24 hours or same day (?)
# 'user_id' max 2.06209e+05 indicates that there are users with a very high number of orders or this is some anomaly
# Somehow values missing in 'days_since_prior_order' = 'user_id' max = 2.06209e+05 but I don´t know what that´s saying

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

### Finding and addressing mixed data types

In [16]:
# Checking for mixed data types

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
   print (col)

# No mixed data types found on 'df_ords'

### Finding and addressing missing values

In [17]:
# Checking how many NaN values in each variable

df_ords.isnull().sum()

# There are 206209 missing values on 'days_since_prior_order' variable

order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [18]:
# Ways to handle missing values:

# 1.Create a new variable that acts like a flag based on the missing value
# Use 'df['column_name'] = df.isna().astype(int/str/...)'

# 2.Impute the value with the mean or median
# Use 'df['column with missings'].fillna(mean/median value, inplace=True)'
# If use False instead of True, the original df will keep untouched

# 3.Remove or filter out the missing data
# Use: df_ords_clean = df_ords['column_name'].isnull() == False]
# I could overwrite the df instead of create a subset

In [19]:
# I decided impute the missing values with 0 (zero)
# I will handle these missing values as zero because the customer/user made another order within 24 hours (less than 1 day)
# I used True instead of False to modify the original

df_ords['days_since_prior_order'].fillna(0, inplace=True)

In [20]:
# Checking if imputation worked

df_ords

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

### Finding and addressing duplicate records

In [21]:
# Looking for duplicates

df_ords[df_ords.duplicated()]

# No full duplicates found
# All variables has aceptable duplicates, except 'order_id'

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [22]:
# Checking for duplicates in 'order_id' variables

df_ords[df_ords.duplicated(['order_id'])]

# No duplicates found

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [23]:
# Checking rows to fill on my final report

df_ords.shape

(3421083, 6)

# Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder and give them appropriate, succinct names

In [4]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [24]:
df_prods_clean.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

In [25]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))