## This script contains:

##### Import the pandas, NumPy, and os libraries
##### Import data sets
##### Merging 'orders_checked' and 'order_products_prior' dataframes
##### Exporting 'df_merged' to pickle

### Import the pandas, NumPy, and os libraries

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

### Import data sets

In [3]:
# Import data sets using the path as string

path = r'C:\Users\loren\Desktop\Career Foundry\2. Data Immersion Course\A4 Python Fundamentals for Data Analysts\07-2023 Instacart Basket Analysis'

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [8]:
# To fix issue on 'df_ords' (remove 'Unnamed: 0' column)

df_ords.drop('Unnamed: 0', axis=1, inplace=True)

# To check if worked

df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [9]:
# Checking new 'df_order_prior' rows to fill on my final report

df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

### Merging 'orders_checked' and 'order_products_prior' dataframes

In [ ]:
# Merging df's using 'order_id' variable as key

df_merged = df_ords.merge(df_ords_prior, on = 'order_id', indicator = 'True')

In [ ]:
# Checking new 'df_merged' rows to fill on my final report

df_merged.describe()

### Exporting 'df_merged' to pickle

In [13]:
# Export data to .pkl

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))