## This script contains:

##### Import the pandas, NumPy, and os libraries
##### Import df as pickle
##### Deriving 'price_range' variable with the loc() function
##### Deriving 'busiest_day' variable with for-loops
##### Modify 'Busiest day' to 'Busiest days' (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method
##### Check 'busiest_days' frequency
##### Create a new column containing these labels called 'busiest_period_of_day' identifying the busiest hours of the day with periods of time labeled 'Most orders', 'Average orders' and 'Fewest orders'
##### Print 'busiest_period_of_day' frequency
##### Export your dataframe as a pickle file and store it correctly in your 'Prepared Data' folder

### Import the pandas, NumPy, and os libraries

In [6]:
# Import libraries

import pandas as pd
import numpy as np
import os

### Import df as pickle

In [7]:
# Import data sets using the path as string

path = r'C:\Users\loren\Desktop\Career Foundry\2. Data Immersion Course\A4 Python Fundamentals for Data Analysts\07-2023 Instacart Basket Analysis'
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

### Deriving 'price_range' variable with the loc() function

In [8]:
# Creating the conditions for 'High-range product'

ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [9]:
# Creating the conditions for 'Mid-range product'

ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [10]:
# Creating the conditions for 'Low-range product'

ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [11]:
# Counting the number of products within each label (low, mid and high-range product)

ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

### Deriving 'busiest_day' variable with for-loops

In [12]:
# Checking 'orders_day_of_week' frequency

ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

# Sartuday (0) and Sunday (1) are the busiest days and Tuesday (3) and Friday (4) are the least busy days

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [13]:
# Setting loop

result = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [14]:
# Adding result to the df

ords_prods_merged['busiest_day'] = result

In [15]:
# Checking frequency

ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest            6204182
Least busy         3783802
Name: busiest_day, dtype: int64

### Modify 'Busiest day' to 'Busiest days' (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method

In [16]:
# Setting loop

result_2 = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    result_2.append("Busiest")
  elif value == 4 or value == 3:
    result_2.append("Least busy")
  else:
    result_2.append("Regularly busy")

In [17]:
# Adding result to the df

ords_prods_merged['busiest_days'] = result_2

In [18]:
# Checking result

ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy

### Check 'busiest_days' frequency

In [19]:
ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest           11864412
Least busy         7624336
Name: busiest_days, dtype: int64

### Create a new column containing these labels called 'busiest_period_of_day' identifying the busiest hours of the day with periods of time labeled 'Most orders', 'Average orders' and 'Fewest orders'

In [20]:
# Checking 'order_hour_of_day' frequency

ords_prods_merged['order_hour_of_day'].value_counts()

# I will consider over than 2 mi orders as 'Most orders' and less than 1 mi as 'Fewest orders'

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [21]:
# Setting loop

result_3 = []

for value in ords_prods_merged["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9, 17]:
    result_3.append("Most orders")
  elif value in [5, 2, 4, 3]:
    result_3.append("Fewest orders")
  else:
    result_3.append("Average orders")

In [22]:
# Adding result to the df

ords_prods_merged['busiest_period_of_day'] = result_3

In [23]:
# Checking result

ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders

### Print 'busiest_period_of_day' frequency

In [24]:
print(ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False))

Most orders       23205725
Average orders     8937275
Fewest orders       261859
Name: busiest_period_of_day, dtype: int64

### Export your dataframe as a pickle file and store it correctly in your 'Prepared Data' folder

In [25]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_new_variables.pkl'))